@import "~materialize-css/sass/components/color-variables";
@import "variables.scss";
@import "~materialize-css/sass/materialize";


html {
    font-size: 100%;
}

body {

}

html, body {
    height: 100%;
}

.clearfix {
    clear: both;
}

#donation {
    padding: 50px 0;

    div {
        #card-element {
            padding: 14px 0 15px 0;
            border-bottom: 1px solid $secondary-color;
            box-shadow: 0 .07em 0 $secondary-color;
        }
    }
}


