<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col l3 m6 s12">
          <input type="text"
                 id="name"
                 autofocus
                 required>
          <label for="name">Nom</label>
        </div>
        <div class="input-field col l3 m6 s12">
          <input type="text"
                 id="nickname"
                 required>
          <label for="nickname">Prénom</label>
        </div>
        <div class="input-field col l3 m6 s12">
          <input type="tel"
                 id="phone"
                 v-model="form.phone"
                 required>
          <label for="phone">Numéro de téléphone</label>
        </div>
        <div class="input-field col l3 m6 s12">
          <input type="email"
                 id="email"
                 required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m4 s12">
          <input type="text"
                 id="address"
                 required>
          <label for="address">Adresse</label>
        </div>
        <div class="input-field col m4 s12">
          <input type="text"
                 id="zipCode"
                 required>
          <label for="zipCode">Code postal</label>
        </div>
        <div class="input-field col m4 s12">
          <input type="text"
                 id="city"
                 required>
          <label for="city">Ville</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col l4 offset-l4 m6 offset-m3 s12">
          <i class="material-icons prefix">euro_symbol</i>
          <label for="money">Montant du don</label>
        </div>
      </div>
      <div class="right-align">
        <button class="btn waves-effect waves-light"
                type="button"
                name="action">Faire un don
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
